.search {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.search h1 {
    font-size: 64px;
    color: white;
    font-weight: normal;
    letter-spacing: 3px;;
}

.search h2 {
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    letter-spacing: 4px;;
}

.search p {
    font-size: 10px;
text-align: center;
    color: rgb(19, 3, 15);
    margin-top: 10px;
    margin-bottom: 10px;
}

.searchBtn {
  background-color: #75ffa3;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 2px 15px;
  margin-left: 3px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.searchBtn:hover {
    background-color: rgb(2, 103, 255);
    color: white;
  }