* {
  box-sizing: border-box;
  margin: 0px;
  padding:0px;
   
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.main {
  background: radial-gradient(at center center, #434443b6 0%, #000000c9 100%), url("./BG1.png");
  height: 70vh;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }
}